*{
    font-family: poppins;
    margin:0;
    padding:0;
}

.App{
    min-width: 450px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    overflow-x: hidden;
    z-index: 1;
    padding: 0;
    margin: 0;
}



.header{
    width:100vw;
    height:45px;
    background-color: #000000;
    position:sticky;
    top:0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    opacity: 90%;
    
}

#dpicon{
    height: 45px;
    mix-blend-mode:inherit;
    padding-left: 15px;
}

#search_cart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 25px;
}

#search_cart img{
    padding-left: 25px;
}

#search{
    height: 15px;
}

#cart{
    height:20px;
    mix-blend-mode:lighten;
}

@media screen and (max-width: 450px){
    .App{
        height: 100vh;
        width: 100vw;
        display: none;
    }
}

@media screen and (min-width: 450px) and (max-width: 1024px) {

    .listitems ul{
        list-style-type: none;
        color: #fff;
        position: relative;
        bottom: 10px;
    }

    .listitems {
        background-color: rgb(0, 0, 0);
        height: calc(100vh - 50px);;
        min-width:480px;
        width: 100%;
        position: fixed;
        top: -100%;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;    
        justify-content: center;
        text-align: center;
        font-size: 3rem;
        transition: .3s ease;
        padding-bottom: 5px;
        z-index: 5;
       
    }
    .listitems.active {
        top:45px
    }


    /* nav */
    nav {
        padding: 1rem;
        display: flex;
        background-color: rgb(0, 0, 0);
        position: relative;
    }

    /* ham menu */
    .ham-menu {
        height: 25px;
        width: 25px;
        margin-left: auto;
        position: relative;
        cursor: pointer; /* Indicates that the element is clickable */
    }

    .ham-menu span {
        height: 2px;
        width: 100%;
        background-color: #ffffff;
        border-radius: 25px;
        position: absolute;
        left: 0%;
        transition: background-color 0.3s ease, transform 0.3s ease; 
    }

    .ham-menu span:nth-child(1) {
        top: 25%;
    }

    .ham-menu span:nth-child(2) {
        top: 50%;
    }

    .ham-menu span:nth-child(3) {
        top: 75%;
    }

    .ham-menu.active span {
        background-color: white;
    }

    .ham-menu.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .ham-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .ham-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }


}



@media screen and (min-width: 1025px){

    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .listitems, .listitems ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
    }    
    .listitems ul li{
        color: #ffffff;
        padding: 10px;
    }

    .ham-menu {
        display: none;
    }
}

.main_ads{
    width:100vw;
    height: fit-content;
    background-color: rgb(0, 0, 0);
    margin-bottom: 5px;
}

.main_ads #ads, #adsImage{
    width:100%;
    height: 100%;
    position: relative;
    
}

#ads1OverImage, #ads1details{
    width:100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;    
    transition: background-color 0.3s ease;
}

#ads1OverImage{
    background-color: rgb(29, 29, 29);
    opacity: 80%;

}

#ads1details label{
    font-size: 3vw;
    font-family: poppins;
    padding-bottom: 15px;
    color:whitesmoke;
}

#ads1details button{
    font-size: 1vw;
    font-family: poppins;
    padding: 15px;
    border-radius: 50px;
    cursor: pointer;
    border: 2px solid whitesmoke;
}

#ads1details button:hover{
    color:white;
    background-color: #000000;
}

.content1{
    width: 100vw;
    height: 480px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
}

.content1 img{
    height:75%;
    object-fit: fit;
    position: absolute;
    z-index: 0;
    position:absolute;
    bottom: 0;
}

.adbtns{
    width:auto;
    height: auto;
    display: flex;
    flex-direction: row;
    position: relative;
    top:-150px;
}

.adbtns button{
    font-size: 18px;
    padding: 8px 25px 8px 25px;
    border-radius: 25px;
    cursor:pointer;
    border: 2px solid #326fe8;
    margin: 0 20px 0 20px;
    z-index:0;
}

#button1{
    color: white;
    background-color: #326fe8;
    z-index:0;
}

#button1:hover{
    background-color:#4985ff;
}

#button2{
    background-color: transparent;
    color: #548dff;
    z-index:0;
    padding-right: 20px;
}

#button2:hover{
    background-color: #326fe8;
    color: #ffffff;
}

#Latest, #Designs{
    font-size: 4vw;
    color:white;
    z-index:5;
    position:absolute;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}

#Latest{
    right:65vw;
    top:55%;
}

#Designs{
   left: 65vw;
   top:55%;
}

